*{
  box-sizing: border-box;
}
body,html{
  height: 100%;
  margin: 0;
}
.wrap{
  display: flex;
  flex-wrap: wrap;
  &-col{
    padding: 20px;
    flex: 0 0 50%;
    width: 50%;
    &:nth-child(even){
      padding-left: 10px;
    }
    &:nth-child(odd){
      padding-right: 10px;
    }
  }
}